
/* Marco general*/
body{ 
    margin:0; 
    padding: 0; 
    background: #c4c3bc; 
} 

/*Dieño primer cuadro*/
.nombre { 
    width: 100%; 
    height: 300px; 
    background: #579797a8;/*Primera parte - color*/ 
    transform: skewY(-5deg);/*Curvear el marco*/ 
} 

/*Diseño contenido de cabezera general*/
.nombre .content{ 
    width: 50%; 
    height: 50%; 
    position: absolute; 
    left: 25%; 
} 

/*Diseño contenido de cabezera 1*/
.nombre .content .p1{ 
    color: black; 
    font-family: 'Roboto', sans-serif; 
    font-weight: bolder; 
    font-size: 55px; 
    transform: skewY(5deg); 
    margin-bottom: 0%; 
} 

/*Dieño contenido de cabezera 2*/
.nombre .content .p2{ 
    color: black; 
    font-family: 'Roboto', sans-serif; 
    font-weight: bolder; 
    font-size: 30px; 
    transform: skewY(5deg); 
    margin-top: 0%; 
    margin-bottom: 0%; 
} 

/*Foto de perfil exterior*/
.nombre .imagen{ 
    position: absolute; 
    top: 18%; 
    right: 8%; 
    width: 180px; 
    height: 180px; 
    border-radius: 25%; 
    transform: skewY(5deg); 
    overflow: hidden; 
} 

/*Foto de perfil interior*/
.nombre .imagen img{ 
    width: 200px; 
    height: 200px; 
} 

/*Diseño de cada cuadro*/
.info{ 
    width: 90%; 
    height: auto;/*Se adapta al contenido*/ 
    background: #579797a8; 
    margin: 5% auto; 
    padding: 20px; 
    border-radius: 20px; 
} 

/*Diseño de los titulos de cada cuadro*/
.info .titulo_info{ 
    color: black; 
    font-family: 'Roboto', sans-serif; 
    font-size: xx-large;/*tamano fuente extra extra largo*/ 
    text-align: center; 
    font-weight: bolder;/*negrilla*/ 
    border-bottom: 2px black dashed; 
} 

/*Espaciado y diseño de las preguntas*/
.info .subtitulo1{ 
    color: black; 
    font-family:'Roboto', sans-serif; 
    font-weight: bolder; 
    font-size: large; 
    display: inline;/*organizar en linea continua*/ 
    margin-right: 0px; 
} 

/*Espaciado y diseño de la informacion llenada*/
.info .subtitulo1_info{ 
    color: black; 
    font-family:'Roboto', sans-serif; 
    font-weight: normal; 
    font-size: large; 
    display: inline;/*organizar en linea continua*/ 
}
    